<!-- <ng-container *ngIf="menu"> -->
    <main>
        <!-- <headerMenuComponent (fecharMenu)="fecharMenu()"></headerMenuComponent> -->
        <headerMenuComponent></headerMenuComponent>
        <div>
            <!-- adicionar eventos para mudar view apenas com permissão adm -->
            <a href="/cadastro"><h3>Cadastrar usuário</h3></a>
            <a href="/relatorio"><h3>Gerar relatório</h3></a>
            <a href="/ranking"><h3>Ranking</h3></a>
        </div>
    </main>
<!-- </ng-container> -->
