<ng-container *ngIf="!menu">
    <headerComponent variant="neutro" (abrirMenu)="abrirMenu()" />
    <main>
        <div>
            <div class="conteudo">
                <infoBarComponent (passarFiltro)="pegarNome($event)" variant="filtroNome" />
                <tablesComponent [topicos]="topicosUsuario" />
            </div>
            <div class="funcoesCadastro">
                <inputsComponent variant="visualUsuario" placeholder="{{ totalUsuarios }} usuários"/>
                <buttonsComponent (click)="abrirModalTaxa()" variant="verde" text="Mudar Taxa" />
                <buttonsComponent (click)="abrirCadastrarUsuario()" variant="verde" text="Cadastrar usuário"/>
            </div>
        </div>
    </main>
</ng-container>

<ng-container *ngIf="modalTaxa">
    <semInfoModal (valorInput)="pegarTaxa($event)" (sairModals)="fecharModal()" variant="unicoInput" textButton="Mudar taxa" placeholderInput="Nova taxa" (eventButton)="mudarTaxa()" />
</ng-container>

<ng-container *ngIf="modalCadastrarUsuario">
    <semInfoModal (criarCadastro)="cadastrar()" (sairModals)="fecharModal()" (valorInput)="pegarValoresCadastro($event)" variant="cadastro" />
</ng-container>

<ng-container *ngIf="modalExlusao">
    <exclusaoModal (salvarModal)="salvarModal()" (calcelarModal)="fecharModal()" mgs="Exluir esse usuário?" />
</ng-container>

<ng-container *ngIf="menu">
    <menuBarView (voltarTela)="fecharMenu()"/>
</ng-container>