*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Bree Serif;
}

:root{
    --verde: #3F7E4D;
    --verde-opc: rgba(63,126,66, 0.5);
    --fundo: #D9D9D9;
    --branco: #FFFFFF;
    --vermelho: #A90000;
    --laranja: #D96800;
    --preto: #000000;
    --preto-opc: rgba(0,0,0, 0.5);
}

@font-face{
    font-family: Bree Serif;
    src: url("./assets/fonts/Bree_Serif/BreeSerif-Regular.ttf");
}

header{
    display: flex;
    flex-direction: row;
    padding: 0 10px;
    background-color: var(--verde);
    color: var(--branco);
    align-items: center;
    border-radius: 0 0 10px 10px;
    height: 50px;
}

body{
    background-color: var(--fundo);
}

h1{
    font-size: 16px;
}

h2{
    font-size: 14px;
}

h3{
    font-size: 20px;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button{
    appearance: none;
    margin: 0;
}