main{
    top: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--preto-opc);
    gap: 5px;
}

.fecharModal{
    height: 40vh;
    width: 100vw;
}
.fecharModal.relatorio{
    height: 32vh;
}

.container{
    width: 260px;
    height: 164px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: var(--fundo);
}
.container.cadastro{
    height: 236px;
}

.container.relatorio{
    height: 248px;
}

.container div{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 15px;
}