<main>
    <div (click)="fecharModal()" [class]="'fecharModal ' + variant"></div>
    <div [class]="'container ' + variant">
        <ng-container *ngIf="variant == 'cadastro'">
            <div>
                <inputsComponent type="number" variant="borda" (eventInputValue)="pegarCPF($event.valorinput)" placeholder="CPF" />
                <inputsComponent type="text" variant="borda" (eventInputValue)="pegarNome($event.valorinput)" placeholder="Nome" />
                <inputsComponent type="text" variant="borda" (eventInputValue)="pegarSenha($event.valorinput)" placeholder="Senha" />
                <buttonsComponent (click)="cadastrar()" variant="verde" text="Cadastrar usuário" />
            </div>
        </ng-container>
        <ng-container *ngIf="variant == 'relatorio'">
            <div>
                <div class="filtro">
                    <inputsComponent type="date" variant="borda" (eventInputValue)="pegarInicio($event.valorinput)" placeholder="Inicio" />
                    <inputsComponent type="date" variant="borda" (eventInputValue)="pegarFim($event.valorinput)" placeholder="Termino" />
                    <checkboxComponent (eventCheckbox)="pegarEscolha($event)" />
                    <filtroComponent (pegarValorFiltro)="pegarMesa($event)" *ngIf="relatorio.escolha != 'produto'" variant="mesa" placeholder="Mesa" />
                    <filtroComponent (pegarValorFiltro)="pegarProduto($event)" *ngIf="relatorio.escolha == 'produto'" variant="produto" placeholder="Produto" />
                </div>
                <buttonsComponent (click)="gerarRelatorio()" variant="verde" text="Gerar relatório" />
            </div>
        </ng-container>
        <ng-container *ngIf="variant == 'unicoInput'">
            <div>
                <inputsComponent type="number" variant="borda" (eventInputValue)="pegarInput($event.valorinput)" placeholder="{{placeholderInput}}" />
                <buttonsComponent (click)="pegarValorInput()"  variant="verde" text="{{textButton}}" />
            </div>
        </ng-container>
    </div>
    <div (click)="fecharModal()" [class]="'fecharModal ' + variant"></div>
</main>