<!-- auteração por permissao -->
<headerComponent variant="visual" />
<main>
    <div>
        <inputsComponent (eventInputValue)="pegarSearch($event.valorinput)" variant="borda" placeholder="Pesquisar" />
        <buttonsComponent (click)="produtoSearch()" variant="search" />
    </div>
    <span></span>
    <topicosCardapioComponent/>
    <div class="itens">
        <ng-container *ngFor="let produto of produtos">
            <itemCardapioComponent nome="{{ produto.nome }}" valor="{{ produto.preco }}" urlImg="{{ produto.imagemCaminho }}" />
        </ng-container>
    </div>
</main>