div{
    min-width: 320px;
}

table {
    width: 100%;
    background-color: var(--branco);
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
}
  
th, td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: var(--verde);
    color: white;
    font-size: 14px;
}

td{
    font-size: 12px;
}
      
tr:nth-child(even){
    background-color: var(--verde-opc);
    color: var(--branco);
}

tr:nth-child(odd) {
    background-color: var(--branco);
}