<!-- colocar informações corretas na tabela -->
<div>
    <table>
        <thead>
            <tr>
                <th *ngFor="let topico of topicos">{{topico}}</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>01</td>
                <td>03/06/24</td>
                <td>01</td>
                <td>20.00</td>
                <td>Crédito</td>
            </tr>
            <tr>
                <td>01</td>
                <td>03/06/24</td>
                <td>01</td>
                <td>20.00</td>
                <td>Crédito</td>
            </tr>
            <tr>
                <td>01</td>
                <td>03/06/24</td>
                <td>01</td>
                <td>20.00</td>
                <td>Crédito</td>
            </tr>
            <tr>
                <td>01</td>
                <td>03/06/24</td>
                <td>01</td>
                <td>20.00</td>
                <td>Crédito</td>
            </tr>
        </tbody>
    </table>
</div>
