<div class="item">
    <div class="itemInfo">
        <h1>{{nome}}</h1>
        <h1 class="valor">R${{valor}}</h1>
    </div>
    <div class="itemFunc">
        <img class="imgProduto" ngSrc="{{ urlBase + urlImg }}" width="70" height="70">
        <!-- ngIf se tiver permissão de funcionario aparece o add na tela de cardapio mesas -->
        <ng-content *ngIf="false">
            <img (click)="adicionarProduto(nome)" ngSrc="./assets/addItem.svg" width="24" height="24">
        </ng-content>
    </div>
</div>