<header [class]="variant">
    <!-- criar o event de clique para abrir menu -->
    <ng-container *ngIf="variant == 'neutro'">
        <img (click)="mandarEventoAbrirMenu()" ngSrc="./assets/menuFechado.svg" width="24" height="24">
        <h1>Bar Code</h1>
        <img (click)="logOut()" ngSrc="./assets/logOut.svg" width="24" height="24">
    </ng-container>
    <ng-container *ngIf="variant == 'semPerm'">
        <h1>Bar Code</h1>
        <img (click)="logOut()" ngSrc="./assets/logOut.svg" width="24" height="24">
    </ng-container>
    <ng-container *ngIf="variant == 'visual'">
        <h1>Bar Code - Cardápio</h1>
    </ng-container>
</header>