header{
    &.neutro{
        justify-content: space-between;
    }

    &.semPerm{
        justify-content: center;
    }
    &.semPerm img{
        position: fixed;
        right: 10px;
    }

    &.visual{
        justify-content: center;
    }
}

img{
    cursor: pointer;
}