<ng-container *ngIf="variant == 'infoMesas'">
    <div class="status">
        <div class="infoMesas">
            <div>
                <img ngSrc="assets/statusVerde.svg" width="15" height="15">
                <h2>Livre</h2>
            </div>
            <div>
                <img ngSrc="assets/statusVermelho.svg" width="15" height="15">
                <h2>Ocupada</h2>
            </div>
            <div>
                <img ngSrc="assets/statusLaranja.svg" width="15" height="15">
                <h2>A pagar</h2>
            </div>
        </div>
    </div>
</ng-container>

<ng-container *ngIf="variant == 'infoMesaCompleto'">
    <div class="status">
        <div class="infoMesaCompleto">
            <h2>Mesa 03</h2>
            <div>
                <img ngSrc="assets/statusLaranja.svg" width="15" height="15">
                <h2>A pagar</h2>
            </div>
        </div>
    </div>
</ng-container>

<ng-container *ngIf="variant == 'infoMesa'">
    <div class="infoMesa">
        <div>
            <h2>Mesa 03</h2>
        </div>
    </div>
</ng-container>

<!-- fazer o filtro -->
<ng-container *ngIf="variant == 'filtroDate'">
    <div class="status">
        <div class="filtro">
            <filtroComponent placeholder="Ano" variant="data" />
            <filtroComponent placeholder="Mês" variant="data" />
            <filtroComponent placeholder="Dia" variant="data" />
        </div>
    </div>
</ng-container>

<ng-container *ngIf="variant == 'filtroNome'">
    <div class="status">
        <div class="filtro">
            <filtroComponent placeholder="Nome" variant="nome" />
        </div>
    </div>
</ng-container>