.status{
    width: 320px;
    height: 36px;
    background-color: var(--branco);
    color: var(--preto);
    border-radius: 10px;
    margin-top: 30px;
    padding: 0 10px;
}

.infoMesas{
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.infoMesaCompleto{
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.infoMesaCompleto div{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.infoMesa{
    width: 76px;
    height: 36px;
    background-color: var(--branco);
    color: var(--preto);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}