input{
    padding-left: 10px;
    border: 2px solid var(--verde);
    border-radius: 10px;
    color: var(--verde);

    &.data{
        width: 66px;
        height: 24px;
    }

    &.nome{
        width: 300px;
    }
}
input::placeholder{
    color: var(--verde);
}
input:focus{
    outline: 0;
    border: 2px solid var(--verde);
}