<!-- 
<main>
    <headerMenuComponent variant="semImg" />
    <h1>Login</h1>
    <form action="login()">
        <div>
            pegar as informações e fazer as devidas checagens de login
            <inputsComponent  [(ngModel)]="CPF" type="text" variant="neutro" placeholder="CPF" />
            <inputsComponent [(ngModel)]="senha" type="password" variant="neutro" placeholder="Senha" />
        </div>
         atribuir evento de click
        <buttonsComponent type="submit" text="Entrar" variant="neutro" />
    </form>
</main>
-->
<!-- <main>
    <headerMenuComponent variant="semImg" />
    <h1>Login</h1>
    <form (submit)="login(cpf, senha)">
        <div>
            <inputsComponent #cpf type="text" variant="neutro" placeholder="CPF" />
            <inputsComponent #senha  type="password" variant="neutro" placeholder="Senha" />
        </div>
        <buttonsComponent type="submit" text="Entrar" variant="neutro" />
    </form>
</main> -->

<main>
    <headerMenuComponent variant="semImg" />
    <h1>Login</h1>
    <div>
        <inputsComponent (eventInputValue)="pegarCPF($event.valorinput)" type="number" variant="neutro" placeholder="CPF" />
        <inputsComponent (eventInputValue)="pegarSenha($event.valorinput)" type="password" variant="neutro" placeholder="Senha" />
    </div>
    <buttonsComponent (click)="login()" type="submit" text="Entrar" variant="neutro" />
</main>