<ng-container *ngIf="!menu">
    <headerComponent variant="neutro" (abrirMenu)="abrirMenu()" />
    <main>
        <div>
            <div class="conteudo">
                <infoBarComponent (passarFiltro)="pegarFiltro($event)" variant="filtroDate" />
                <tablesComponent [conteudoVendas]=aMostraVendas variant="relatorio" [topicos]="topicosRelatorio" />
            </div>
            <div class="funcoesRelatorio">
                <inputsComponent variant="visualTotal" placeholder="Total: R${{totalVendas}}" />
                <buttonsComponent (click)="abrirGerarRelatorio()" variant="verde" text="Gerar relatório" />
            </div>
        </div>
    </main>
</ng-container>

<ng-container *ngIf="modalGerarRelatorio">
    <semInfoModal [mesas]="mesas" [produtos]=produtos [abrirMensagem]=abrirMensagem msgErro="{{msgErro}}" variant="relatorio" (criarRelatorio)="gerarRelatorio($event)" (sairModals)="fecharModals()" />
</ng-container>

<ng-container *ngIf="menu">
    <menuBarView (voltarTela)="fecharMenu($event)" />
</ng-container>