button{
    display: flex;
    height: 30px;
    align-items: center;
    padding: 4px 11px;
    border-radius: 10px;
    border: 0;
    color: var(--verde);
    cursor: pointer;

    &.verde, &.search{
        color: var(--branco);
        background-color: var(--verde);
    }
    &.search{
        padding: 0;
        justify-content: center;
        width: 30px;
        height: 30px;
    }

    &.vermelho{
        font-size: 16px;
        color: var(--branco);
        background-color: var(--vermelho);
    }

    &.laranja{
        color: var(--branco);
        background-color: var(--laranja);
    }

    &.borda{
        flex-direction: row;
        gap: 5px;
        background-color: var(--branco);
        border: 1px solid var(--verde);
    }
    
}
