<headerComponent variant="semPerm"></headerComponent>
<main>
    <div>
        <div class="conteudo">
            <infoBarComponent variant="infoMesaCompleto"></infoBarComponent>
            <!-- ngFor para os itens da comanda -->
            <ul>
                <li>• [qnt.] Frango a passarinho - R$42.90</li>
                <li>• [qnt.] Frango a passarinho - R$42.90</li>
                <li>• [qnt.] Frango a passarinho - R$42.90</li>
                <li>• [qnt.] Frango a passarinho - R$42.90</li>
                <li>• [qnt.] Frango a passarinho - R$42.90</li>
                <li>• [qnt.] Frango a passarinho - R$42.90</li>
            </ul>
        </div>
        <div class="funcoesComanda">
            <inputsComponent variant="visualTotal" placeholder="Total: R$100,00"></inputsComponent>
            <buttonsComponent variant="verde" text="Pagar"></buttonsComponent>
        </div>
    </div>
</main>