<headerComponent variant="semPerm" />
<main>
    <div>
        <div class="conteudo">
            <infoBarComponent [numeroMesa]=1 variant="infoMesaCompleto" />
            <!-- ngFor para os itens da comanda -->
            <ul>
                <li>• [qnt.] Frango a passarinho - R$42.90</li>
                <li>• [qnt.] Frango a passarinho - R$42.90</li>
                <li>• [qnt.] Frango a passarinho - R$42.90</li>
                <li>• [qnt.] Frango a passarinho - R$42.90</li>
                <li>• [qnt.] Frango a passarinho - R$42.90</li>
                <li>• [qnt.] Frango a passarinho - R$42.90</li>
            </ul>
        </div>
        <div class="funcoesComanda">
            <!-- pegar total + 10% -->
            <inputsComponent variant="visualTotal" placeholder="Total: R$100,00" />
            <buttonsComponent (click)="abrirMetodoPagamento()" variant="verde" text="Pagar" />
        </div>
    </div>
</main>

<ng-container *ngIf="modalPagarMesa">
    <infoBarSimplesModal [numeroMesa]=numeroMesa (modalDinheiro)="pagarDinheiro()" (sairModals)="fecharModal()" (mudarStatus)="statusAPagar()" variant="aPagar" />
</ng-container>

<ng-container *ngIf="modalPagarDinheiro">
    <infoBarSimplesModal (mudarStatus)="statusAPagar()" variant="aPagarDinheiro" />
</ng-container>